In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
import pandas as pd

# Read the gzip-compressed CSV file
df2 = pd.read_csv('./raw_data.csv', compression='gzip', encoding='utf-8')

C:\Users\himan\AppData\Local\Temp\ipykernel_11372\2588835742.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('./raw_data.csv', compression='gzip', encoding='utf-8')

In [30]:
df_sample['date'] = df_sample['ts'].str.split().str.get(0)
df_sample['time'] = df_sample['ts'].str.split().str.get(1)

In [33]:
df_sample.drop(columns='ts',inplace=True)

In [35]:
df_sample

,number,pick_lat,pick_lng,drop_lat,drop_lng,date,time
7128110,25890,12.958556,77.569500,12.957157,77.532130,2021-03-08,17:02:12
4503891,66576,12.941772,77.696940,12.918774,77.588170,2021-01-11,18:31:07
6965381,83995,12.955434,77.697980,12.914107,77.625110,2021-03-05,22:12:47
1810943,99369,12.912940,77.681015,12.904889,77.591095,2020-09-10,18:20:30
110400,39348,12.953696,77.653050,12.900513,77.637190,2020-04-06,19:30:39
...,...,...,...,...,...,...,...
5388662,53172,12.982974,77.603080,12.999069,77.625230,2021-02-03,08:56:20
4775515,59089,12.901817,77.595020,12.941703,77.621630,2021-01-20,20:48:51
4418347,38137,12.912022,77.647420,12.920145,77.559840,2021-01-09,19:37:34
876243,45211,12.965339,77.648660,12.989632,77.663620,2020-07-06,09:10:06
5224736,83941,12.873207,77.621340,12.934407,77.606080,2021-02-01,08:37:32

In [38]:
df_sample['hr'] = df_sample['time'].str.split(':').str.get(0)
df_sample['min'] = df_sample['time'].str.split(':').str.get(1)
df_sample.drop(columns='time',inplace=True)

In [39]:
df_sample

        number   pick_lat   pick_lng   drop_lat   drop_lng        date  hr min
7128110  25890  12.958556  77.569500  12.957157  77.532130  2021-03-08  17  02
4503891  66576  12.941772  77.696940  12.918774  77.588170  2021-01-11  18  31
6965381  83995  12.955434  77.697980  12.914107  77.625110  2021-03-05  22  12
1810943  99369  12.912940  77.681015  12.904889  77.591095  2020-09-10  18  20
110400   39348  12.953696  77.653050  12.900513  77.637190  2020-04-06  19  30
...        ...        ...        ...        ...        ...         ...  ..  ..
5388662  53172  12.982974  77.603080  12.999069  77.625230  2021-02-03  08  56
4775515  59089  12.901817  77.595020  12.941703  77.621630  2021-01-20  20  48
4418347  38137  12.912022  77.647420  12.920145  77.559840  2021-01-09  19  37
876243   45211  12.965339  77.648660  12.989632  77.663620  2020-07-06  09  10
5224736  83941  12.873207  77.621340  12.934407  77.606080  2021-02-01  08  37

[20000 rows x 8 columns]

In [42]:
df_sample.iloc[:,1:-1]

          pick_lat   pick_lng   drop_lat   drop_lng        date  hr
7128110  12.958556  77.569500  12.957157  77.532130  2021-03-08  17
4503891  12.941772  77.696940  12.918774  77.588170  2021-01-11  18
6965381  12.955434  77.697980  12.914107  77.625110  2021-03-05  22
1810943  12.912940  77.681015  12.904889  77.591095  2020-09-10  18
110400   12.953696  77.653050  12.900513  77.637190  2020-04-06  19
...            ...        ...        ...        ...         ...  ..
5388662  12.982974  77.603080  12.999069  77.625230  2021-02-03  08
4775515  12.901817  77.595020  12.941703  77.621630  2021-01-20  20
4418347  12.912022  77.647420  12.920145  77.559840  2021-01-09  19
876243   12.965339  77.648660  12.989632  77.663620  2020-07-06  09
5224736  12.873207  77.621340  12.934407  77.606080  2021-02-01  08

[20000 rows x 6 columns]

In [43]:
df = df.sample(20000)

In [46]:
df.drop_duplicates(subset=['ts','number'],keep='first',inplace=True)

In [47]:
df

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng
5386638,2021-02-03 17:15:51,15960,12.901214,77.705605,12.897543,77.695350
4290097,2021-01-04 09:40:51,01321,12.908780,77.612755,12.935383,77.614265
3366534,2020-11-25 08:13:08,18030,12.901428,77.623890,12.935040,77.614030
7939553,2021-03-21 11:49:44,57838,12.934988,77.619680,12.915055,77.684800
6184423,2021-02-20 20:28:09,62298,12.843067,77.674110,12.852663,77.664440
...,...,...,...,...,...,...
885124,2020-07-07 19:22:20,48694,12.999210,77.569760,13.029989,77.562060
7957021,2021-03-21 21:35:35,94115,13.035440,77.644110,12.982845,77.637830
28312,2020-03-29 21:03:57,97216,12.985455,77.663925,12.925453,77.546760
6218262,2021-02-21 19:41:14,21911,12.936831,77.627540,12.921346,77.616974
1478227,2020-08-25 17:02:00,50403,12.927152,77.682910,12.887319,77.578070

In [49]:
df.isnull().sum()

ts          0
number      0
pick_lat    0
pick_lng    0
drop_lat    0
drop_lng    0
dtype: int64

In [55]:
df2.duplicated(subset=['ts','number'])

0          False
1          False
2          False
3          False
4          False
           ...
8381551    False
8381552    False
8381553    False
8381554    False
8381555    False
Length: 8381556, dtype: bool

In [56]:
df2[df2.duplicated(subset=['ts','number'])]

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng
236,2020-03-26 18:10:35,16795,12.967236,77.641594,13.014504,77.650856
408,2020-03-26 21:35:50,65856,12.917173,77.586400,12.913940,77.685280
444,2020-03-26 23:26:29,27554,12.933715,77.619300,12.938208,77.587520
559,2020-03-26 11:20:59,33307,12.910672,77.623540,12.913891,77.677270
560,2020-03-26 11:20:59,33307,12.910672,77.623540,12.913891,77.677270
...,...,...,...,...,...,...
8381160,2021-03-26 22:17:28,40430,12.983265,77.562515,12.952472,77.543630
8381191,2021-03-26 22:18:43,40430,12.983265,77.562515,12.952472,77.543630
8381231,2021-03-26 22:23:12,61636,12.975229,77.620370,13.017285,77.618200
8381246,2021-03-26 22:25:13,61636,12.975229,77.620370,13.017285,77.618200
8381249,2021-03-26 22:25:27,61636,12.975229,77.620370,13.017285,77.618200

In [58]:
df2.drop_duplicates(subset=['ts','number'],keep='first',inplace=True)

In [59]:
df2

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng
0,2020-03-26 07:07:17,14626,12.313621,76.658195,12.287301,76.602280
1,2020-03-26 07:32:27,85490,12.943947,77.560745,12.954014,77.543770
2,2020-03-26 07:36:44,05408,12.899603,77.587300,12.934780,77.569950
3,2020-03-26 07:38:00,58940,12.918229,77.607544,12.968971,77.636375
4,2020-03-26 07:39:29,05408,12.899490,77.587270,12.934780,77.569950
...,...,...,...,...,...,...
8381551,2021-03-26 23:55:24,50410,12.907856,77.557870,12.954270,77.530785
8381552,2021-03-26 23:58:15,12580,12.981010,77.694450,12.969070,77.704280
8381553,2021-03-26 22:11:20,72339,12.924252,77.650520,12.905820,77.630570
8381554,2021-03-26 22:12:30,72339,12.924252,77.650520,12.905820,77.630570
8381555,2021-03-26 15:00:55,28043,12.901222,77.594890,12.908599,77.649330

In [62]:
df2.isnull().sum()

ts          0
number      0
pick_lat    0
pick_lng    0
drop_lat    0
drop_lng    0
dtype: int64

In [63]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8315498 entries, 0 to 8381555
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   ts        object
 1   number    object
 2   pick_lat  float64
 3   pick_lng  float64
 4   drop_lat  float64
 5   drop_lng  float64
dtypes: float64(4), object(2)
memory usage: 444.1+ MB

In [65]:
df2['ts'] = pd.to_datetime(df2['ts'],errors='coerce')

In [66]:
df2['number'] = pd.to_numeric(df2['number'],errors='coerce')

In [67]:
df2.isnull().sum()

ts            0
number      116
pick_lat      0
pick_lng      0
drop_lat      0
drop_lng      0
dtype: int64

In [68]:
df2.shape

(8315498, 6)

In [70]:
df2.dropna(inplace=True)

In [71]:
df2.isnull().sum()

ts          0
number      0
pick_lat    0
pick_lng    0
drop_lat    0
drop_lng    0
dtype: int64

In [73]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8315382 entries, 0 to 8381555
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   ts        datetime64[ns]
 1   number    float64
 2   pick_lat  float64
 3   pick_lng  float64
 4   drop_lat  float64
 5   drop_lng  float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 444.1 MB

In [77]:
df2['hour']= df2['ts'].dt.hour
df2['mins']=df2['ts'].dt.minute
df2['day']=df2['ts'].dt.day
df2['month']=df2['ts'].dt.month
df2['year']=df2['ts'].dt.year
df2['dayofweek']=df2['ts'].dt.dayofweek

In [78]:
df2

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek
0,2020-03-26 07:07:17,14626.0,12.313621,76.658195,12.287301,76.602280,7,7,26,3,2020,3
1,2020-03-26 07:32:27,85490.0,12.943947,77.560745,12.954014,77.543770,7,32,26,3,2020,3
2,2020-03-26 07:36:44,5408.0,12.899603,77.587300,12.934780,77.569950,7,36,26,3,2020,3
3,2020-03-26 07:38:00,58940.0,12.918229,77.607544,12.968971,77.636375,7,38,26,3,2020,3
4,2020-03-26 07:39:29,5408.0,12.899490,77.587270,12.934780,77.569950,7,39,26,3,2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...
8381551,2021-03-26 23:55:24,50410.0,12.907856,77.557870,12.954270,77.530785,23,55,26,3,2021,4
8381552,2021-03-26 23:58:15,12580.0,12.981010,77.694450,12.969070,77.704280,23,58,26,3,2021,4
8381553,2021-03-26 22:11:20,72339.0,12.924252,77.650520,12.905820,77.630570,22,11,26,3,2021,4
8381554,2021-03-26 22:12:30,72339.0,12.924252,77.650520,12.905820,77.630570,22,12,26,3,2021,4
8381555,2021-03-26 15:00:55,28043.0,12.901222,77.594890,12.908599,77.649330,15,0,26,3,2021,4

In [80]:
df2.to_csv('preprocessed_v1.csv')

# Part 2

In [81]:
df = pd.read_csv('preprocessed_v1.csv')
df

,Unnamed: 0,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek
0,0,2020-03-26 07:07:17,14626.0,12.313621,76.658195,12.287301,76.602280,7,7,26,3,2020,3
1,1,2020-03-26 07:32:27,85490.0,12.943947,77.560745,12.954014,77.543770,7,32,26,3,2020,3
2,2,2020-03-26 07:36:44,5408.0,12.899603,77.587300,12.934780,77.569950,7,36,26,3,2020,3
3,3,2020-03-26 07:38:00,58940.0,12.918229,77.607544,12.968971,77.636375,7,38,26,3,2020,3
4,4,2020-03-26 07:39:29,5408.0,12.899490,77.587270,12.934780,77.569950,7,39,26,3,2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8315377,8381551,2021-03-26 23:55:24,50410.0,12.907856,77.557870,12.954270,77.530785,23,55,26,3,2021,4
8315378,8381552,2021-03-26 23:58:15,12580.0,12.981010,77.694450,12.969070,77.704280,23,58,26,3,2021,4
8315379,8381553,2021-03-26 22:11:20,72339.0,12.924252,77.650520,12.905820,77.630570,22,11,26,3,2021,4
8315380,8381554,2021-03-26 22:12:30,72339.0,12.924252,77.650520,12.905820,77.630570,22,12,26,3,2021,4
8315381,8381555,2021-03-26 15:00:55,28043.0,12.901222,77.594890,12.908599,77.649330,15,0,26,3,2021,4

In [83]:
df.sort_values(by=['number','ts'],ascending=True,inplace=True)

In [85]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [86]:
df

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek
2374378,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,7,34,10,10,2020,5
2405894,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6
2405895,2020-10-11 08:23:50,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6
2405896,2020-10-11 08:23:51,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6
2405897,2020-10-11 08:23:54,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6
...,...,...,...,...,...,...,...,...,...,...,...,...
5768115,2021-02-12 19:37:11,99999.0,13.029848,77.593400,13.063751,77.589850,19,37,12,2,2021,4
6102760,2021-02-19 20:43:25,99999.0,13.029296,77.592580,12.927923,77.627106,20,43,19,2,2021,4
6137206,2021-02-20 17:34:45,99999.0,12.907576,77.600685,12.925874,77.607620,17,34,20,2,2021,5
6555089,2021-02-27 08:26:23,99999.0,12.956665,77.521870,12.948099,77.562990,8,26,27,2,2021,5
6888302,2021-03-04 19:13:13,99999.0,12.987954,77.555880,13.065613,77.559910,19,13,4,3,2021,3

In [91]:
df['ts'] = pd.to_datetime(df['ts'])

In [92]:
x = df['ts'][0]

In [98]:
df['booking_timestamp'] = df['ts'].apply(lambda x : x.timestamp())

In [101]:
df['shift_time'] = df.groupby('number')['booking_timestamp'].shift(1,axis=0)
df.fillna(0,inplace=True)

C:\Users\himan\AppData\Local\Temp\ipykernel_11372\2157436542.py:1: FutureWarning: The 'axis' keyword in SeriesGroupBy.shift is deprecated and will be removed in a future version. Call without passing 'axis' instead.
  df['shift_time'] = df.groupby('number')['booking_timestamp'].shift(1,axis=0)

In [108]:
df['hr_diff'] = round(df['booking_timestamp']-df['shift_time'])//3600

In [109]:
df['min_diff'] = round(df['booking_timestamp']-df['shift_time'])//60

In [110]:
df

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek,booking_timestamp,shift_time,hr_diff,min_diff
2374378,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,7,34,10,10,2020,5,1.602315e+09,0.000000e+00,445087.0,26705254.0
2405894,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602315e+09,24.0,1489.0
2405895,2020-10-11 08:23:50,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602405e+09,0.0,0.0
2405896,2020-10-11 08:23:51,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602405e+09,0.0,0.0
2405897,2020-10-11 08:23:54,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602405e+09,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768115,2021-02-12 19:37:11,99999.0,13.029848,77.593400,13.063751,77.589850,19,37,12,2,2021,4,1.613159e+09,1.613069e+09,24.0,1498.0
6102760,2021-02-19 20:43:25,99999.0,13.029296,77.592580,12.927923,77.627106,20,43,19,2,2021,4,1.613767e+09,1.613159e+09,169.0,10146.0
6137206,2021-02-20 17:34:45,99999.0,12.907576,77.600685,12.925874,77.607620,17,34,20,2,2021,5,1.613842e+09,1.613767e+09,20.0,1251.0
6555089,2021-02-27 08:26:23,99999.0,12.956665,77.521870,12.948099,77.562990,8,26,27,2,2021,5,1.614414e+09,1.613842e+09,158.0,9531.0
6888302,2021-03-04 19:13:13,99999.0,12.987954,77.555880,13.065613,77.559910,19,13,4,3,2021,3,1.614885e+09,1.614414e+09,130.0,7846.0

In [111]:
df['min_diff'].value_counts()

min_diff
0.0           2801749
1.0            799993
2.0            307831
3.0            167954
4.0            109141
               ...
119960.0            1
26858611.0          1
26574415.0          1
145577.0            1
76044.0             1
Name: count, Length: 205161, dtype: int64

In [122]:
len(df[~((df.duplicated(subset=['number','pick_lat','pick_lng'],keep=False)) & (df['hr_diff']<=1))])

4335820

In [123]:
df = df[~((df.duplicated(subset=['number','pick_lat','pick_lng'],keep=False)) & (df['hr_diff']<=1))]

In [124]:
df

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek,booking_timestamp,shift_time,hr_diff,min_diff
2374378,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,7,34,10,10,2020,5,1.602315e+09,0.000000e+00,445087.0,26705254.0
2405894,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602315e+09,24.0,1489.0
2406076,2020-10-11 11:57:17,-1.0,12.960213,77.587460,12.930824,77.609610,11,57,11,10,2020,6,1.602417e+09,1.602405e+09,3.0,213.0
2500477,2020-10-16 17:51:07,-1.0,12.924353,77.549410,12.932216,77.581825,17,51,16,10,2020,4,1.602871e+09,1.602417e+09,125.0,7553.0
2694503,2020-10-30 09:00:44,-1.0,12.945731,77.622500,12.973030,77.616840,9,0,30,10,2020,4,1.604048e+09,1.602871e+09,327.0,19629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768115,2021-02-12 19:37:11,99999.0,13.029848,77.593400,13.063751,77.589850,19,37,12,2,2021,4,1.613159e+09,1.613069e+09,24.0,1498.0
6102760,2021-02-19 20:43:25,99999.0,13.029296,77.592580,12.927923,77.627106,20,43,19,2,2021,4,1.613767e+09,1.613159e+09,169.0,10146.0
6137206,2021-02-20 17:34:45,99999.0,12.907576,77.600685,12.925874,77.607620,17,34,20,2,2021,5,1.613842e+09,1.613767e+09,20.0,1251.0
6555089,2021-02-27 08:26:23,99999.0,12.956665,77.521870,12.948099,77.562990,8,26,27,2,2021,5,1.614414e+09,1.613842e+09,158.0,9531.0
6888302,2021-03-04 19:13:13,99999.0,12.987954,77.555880,13.065613,77.559910,19,13,4,3,2021,3,1.614885e+09,1.614414e+09,130.0,7846.0

## Case 2

In [125]:
print(f'Number of customer booked within 8 min ,{(df['min_diff']<8).sum()}')

Number of customer booked within 8 min ,611880

In [126]:
df=df[df['min_diff']>=8]

In [127]:
df.shape

(3723940, 16)

## Case 3

In [139]:
from geopy.distance import geodesic
def geodestic_distance(pick_lat, pick_lng, drop_lat, drop_lng):
    # 1mile = 1.60934 Kms
    return round(geodesic((pick_lat, pick_lng), (drop_lat, drop_lng)).miles*1.60934,2)

In [140]:
df['geodesic_distance'] = np.vectorize(geodestic_distance)(df['pick_lat'],df['pick_lng'],df['drop_lat'],df['drop_lng'])

C:\Users\himan\AppData\Local\Temp\ipykernel_11372\2520678600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['geodesic_distance'] = np.vectorize(geodestic_distance)(df['pick_lat'],df['pick_lng'],df['drop_lat'],df['drop_lng'])

In [141]:
df

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek,booking_timestamp,shift_time,hr_diff,min_diff,geodesic_distance
2374378,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,7,34,10,10,2020,5,1.602315e+09,0.000000e+00,445087.0,26705254.0,17.38
2405894,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602315e+09,24.0,1489.0,4.06
2406076,2020-10-11 11:57:17,-1.0,12.960213,77.587460,12.930824,77.609610,11,57,11,10,2020,6,1.602417e+09,1.602405e+09,3.0,213.0,4.04
2500477,2020-10-16 17:51:07,-1.0,12.924353,77.549410,12.932216,77.581825,17,51,16,10,2020,4,1.602871e+09,1.602417e+09,125.0,7553.0,3.62
2694503,2020-10-30 09:00:44,-1.0,12.945731,77.622500,12.973030,77.616840,9,0,30,10,2020,4,1.604048e+09,1.602871e+09,327.0,19629.0,3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768115,2021-02-12 19:37:11,99999.0,13.029848,77.593400,13.063751,77.589850,19,37,12,2,2021,4,1.613159e+09,1.613069e+09,24.0,1498.0,3.77
6102760,2021-02-19 20:43:25,99999.0,13.029296,77.592580,12.927923,77.627106,20,43,19,2,2021,4,1.613767e+09,1.613159e+09,169.0,10146.0,11.82
6137206,2021-02-20 17:34:45,99999.0,12.907576,77.600685,12.925874,77.607620,17,34,20,2,2021,5,1.613842e+09,1.613767e+09,20.0,1251.0,2.16
6555089,2021-02-27 08:26:23,99999.0,12.956665,77.521870,12.948099,77.562990,8,26,27,2,2021,5,1.614414e+09,1.613842e+09,158.0,9531.0,4.56
6888302,2021-03-04 19:13:13,99999.0,12.987954,77.555880,13.065613,77.559910,19,13,4,3,2021,3,1.614885e+09,1.614414e+09,130.0,7846.0,8.60

In [142]:
df = df[(df['geodesic_distance'] >0.05)]

In [143]:
df

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek,booking_timestamp,shift_time,hr_diff,min_diff,geodesic_distance
2374378,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,7,34,10,10,2020,5,1.602315e+09,0.000000e+00,445087.0,26705254.0,17.38
2405894,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602315e+09,24.0,1489.0,4.06
2406076,2020-10-11 11:57:17,-1.0,12.960213,77.587460,12.930824,77.609610,11,57,11,10,2020,6,1.602417e+09,1.602405e+09,3.0,213.0,4.04
2500477,2020-10-16 17:51:07,-1.0,12.924353,77.549410,12.932216,77.581825,17,51,16,10,2020,4,1.602871e+09,1.602417e+09,125.0,7553.0,3.62
2694503,2020-10-30 09:00:44,-1.0,12.945731,77.622500,12.973030,77.616840,9,0,30,10,2020,4,1.604048e+09,1.602871e+09,327.0,19629.0,3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768115,2021-02-12 19:37:11,99999.0,13.029848,77.593400,13.063751,77.589850,19,37,12,2,2021,4,1.613159e+09,1.613069e+09,24.0,1498.0,3.77
6102760,2021-02-19 20:43:25,99999.0,13.029296,77.592580,12.927923,77.627106,20,43,19,2,2021,4,1.613767e+09,1.613159e+09,169.0,10146.0,11.82
6137206,2021-02-20 17:34:45,99999.0,12.907576,77.600685,12.925874,77.607620,17,34,20,2,2021,5,1.613842e+09,1.613767e+09,20.0,1251.0,2.16
6555089,2021-02-27 08:26:23,99999.0,12.956665,77.521870,12.948099,77.562990,8,26,27,2,2021,5,1.614414e+09,1.613842e+09,158.0,9531.0,4.56
6888302,2021-03-04 19:13:13,99999.0,12.987954,77.555880,13.065613,77.559910,19,13,4,3,2021,3,1.614885e+09,1.614414e+09,130.0,7846.0,8.60

## Case 4 - Outside India
- #### India: 'boundingbox': ['6.2325274', '35.6745457', '68.1113787', '97.395561']

In [154]:
df[(df['pick_lat']<= 6.2325274) | (df['pick_lat'] >=35.6745457) | (df['drop_lat']<= 6.2325274) | (df['drop_lat'] >=35.6745457) |(df['pick_lng']>= 97.395561) | (df['pick_lng']<= 68.1113787) |(df['drop_lng']>= 97.395561) | (df['drop_lng']<= 68.1113787)]

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek,booking_timestamp,shift_time,hr_diff,min_diff,geodesic_distance
742031,2020-06-22 07:19:06,80.0,12.926255,77.616400,0.000000e+00,0.000000e+00,7,19,22,6,2020,0,1.592810e+09,1.590934e+09,521.0,31271.0,8674.57
2502259,2020-10-16 21:52:28,297.0,12.958342,77.517876,3.890229e+00,-3.344596e+01,21,52,16,10,2020,4,1.602885e+09,1.602885e+09,0.0,8.0,12181.79
4344697,2021-01-07 13:17:11,345.0,12.824208,77.684840,5.347187e+01,-1.021332e+02,13,17,7,1,2021,3,1.610025e+09,1.609843e+09,50.0,3039.0,12658.48
8297478,2021-03-26 20:16:01,485.0,12.932975,77.536230,2.819774e+01,1.129942e+02,20,16,26,3,2021,4,1.616790e+09,1.616698e+09,25.0,1530.0,4043.95
1786595,2020-09-09 09:36:43,641.0,12.896367,77.623800,0.000000e+00,0.000000e+00,9,36,9,9,2020,2,1.599644e+09,0.000000e+00,444345.0,26660736.0,8675.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1985134,2020-09-21 14:40:51,98929.0,12.852040,77.675490,1.400000e-45,1.400000e-45,14,40,21,9,2020,0,1.600699e+09,1.600356e+09,95.0,5724.0,8680.58
834555,2020-07-02 08:40:16,99078.0,12.924925,77.606125,3.772864e+01,-8.920558e+01,8,40,2,7,2020,3,1.593679e+09,1.591804e+09,520.0,31249.0,14231.82
2331458,2020-10-06 18:12:35,99104.0,12.928082,77.603350,1.376042e+01,1.004980e+02,18,12,6,10,2020,1,1.602008e+09,1.601834e+09,48.0,2895.0,2481.04
2747830,2020-11-02 18:57:02,99379.0,12.984081,77.593330,0.000000e+00,0.000000e+00,18,57,2,11,2020,0,1.604343e+09,1.604310e+09,9.0,561.0,8672.37
5191270,2021-02-01 18:32:03,99852.0,12.966105,77.598270,0.000000e+00,0.000000e+00,18,32,1,2,2021,0,1.612204e+09,1.612204e+09,0.0,10.0,8672.81

In [157]:
## outside india 
df = df[~((df['pick_lat']<= 6.2325274) | (df['pick_lat'] >=35.6745457) | (df['drop_lat']<= 6.2325274) | (df['drop_lat'] >=35.6745457) |(df['pick_lng']>= 97.395561) | (df['pick_lng']<= 68.1113787) |(df['drop_lng']>= 97.395561) | (df['drop_lng']<= 68.1113787))]

In [158]:
df

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek,booking_timestamp,shift_time,hr_diff,min_diff,geodesic_distance
2374378,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,7,34,10,10,2020,5,1.602315e+09,0.000000e+00,445087.0,26705254.0,17.38
2405894,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602315e+09,24.0,1489.0,4.06
2406076,2020-10-11 11:57:17,-1.0,12.960213,77.587460,12.930824,77.609610,11,57,11,10,2020,6,1.602417e+09,1.602405e+09,3.0,213.0,4.04
2500477,2020-10-16 17:51:07,-1.0,12.924353,77.549410,12.932216,77.581825,17,51,16,10,2020,4,1.602871e+09,1.602417e+09,125.0,7553.0,3.62
2694503,2020-10-30 09:00:44,-1.0,12.945731,77.622500,12.973030,77.616840,9,0,30,10,2020,4,1.604048e+09,1.602871e+09,327.0,19629.0,3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768115,2021-02-12 19:37:11,99999.0,13.029848,77.593400,13.063751,77.589850,19,37,12,2,2021,4,1.613159e+09,1.613069e+09,24.0,1498.0,3.77
6102760,2021-02-19 20:43:25,99999.0,13.029296,77.592580,12.927923,77.627106,20,43,19,2,2021,4,1.613767e+09,1.613159e+09,169.0,10146.0,11.82
6137206,2021-02-20 17:34:45,99999.0,12.907576,77.600685,12.925874,77.607620,17,34,20,2,2021,5,1.613842e+09,1.613767e+09,20.0,1251.0,2.16
6555089,2021-02-27 08:26:23,99999.0,12.956665,77.521870,12.948099,77.562990,8,26,27,2,2021,5,1.614414e+09,1.613842e+09,158.0,9531.0,4.56
6888302,2021-03-04 19:13:13,99999.0,12.987954,77.555880,13.065613,77.559910,19,13,4,3,2021,3,1.614885e+09,1.614414e+09,130.0,7846.0,8.60

In [159]:
##Specifying only state of karnatake
### Bounding PickUp Lat-Long Within State Karnataka
# ['11.5945587', '18.4767308', '74.0543908', '78.588083']
pck_outside_KA = df[(df.pick_lat<=11.5945587) | (df.pick_lat>=18.4767308) | (df.pick_lng<=74.0543908) | (df.pick_lng>=78.588083)]
drp_outside_KA = df[(df.drop_lat<=11.5945587) | (df.drop_lat>=18.4767308) | (df.drop_lng<=74.0543908) | (df.drop_lng>=78.588083)]
print("Pickups Outisde KA: {} \nDrop outside KA: {}".format(len(pck_outside_KA),len(drp_outside_KA)))
print("Number of Customers Drop outside KA: ",len(np.unique(drp_outside_KA['number'].values)))
print("Number of Customers pickup outside KA: ",len(np.unique(pck_outside_KA['number'].values)))

Pickups Outisde KA: 38807
Drop outside KA: 39585
Number of Customers Drop outside KA:  6917
Number of Customers pickup outside KA:  6302

In [160]:
total_ride_outside_KA = df[(df.pick_lat<=11.5945587) | (df.pick_lat>=18.4767308) | (df.pick_lng<=74.0543908) | (df.pick_lng>=78.588083) | (df.drop_lat<=11.5945587) | (df.drop_lat>=18.4767308) | (df.drop_lng<=74.0543908) | (df.drop_lng>=78.588083)]

In [161]:
print("Total Ride Outside Karnataka: {}".format(len(total_ride_outside_KA)))

Total Ride Outside Karnataka: 39632

In [162]:
## Rides for which geodesic distance > 500kms
## Pickup and drop not of KA (state where we have maximum booking requests and user base)
suspected_bad_rides = total_ride_outside_KA[total_ride_outside_KA.geodesic_distance > 500]
suspected_bad_rides

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek,booking_timestamp,shift_time,hr_diff,min_diff,geodesic_distance
4765341,2021-01-21 23:18:35,0.0,12.958837,77.644485,21.149794,82.782000,23,18,21,1,2021,3,1.611271e+09,1.611220e+09,14.0,852.0,1058.39
1756248,2020-09-08 14:49:08,154.0,12.922410,77.568270,25.549080,84.655800,14,49,8,9,2020,1,1.599577e+09,1.599497e+09,22.0,1327.0,1583.00
586293,2020-06-04 18:13:54,878.0,12.970724,77.582420,21.504763,80.115160,18,13,4,6,2020,3,1.591294e+09,1.591267e+09,7.0,459.0,982.06
122197,2020-04-07 11:09:24,913.0,13.004375,77.555210,19.075983,72.877655,11,9,7,4,2020,1,1.586258e+09,1.586103e+09,43.0,2585.0,837.66
288777,2020-04-29 23:11:41,913.0,13.013597,77.545740,22.837053,69.724560,23,11,29,4,2020,2,1.588202e+09,1.588160e+09,11.0,698.0,1366.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770076,2020-06-25 11:32:12,99395.0,13.037086,77.515854,28.979435,77.689580,11,32,25,6,2020,3,1.593085e+09,1.593016e+09,18.0,1137.0,1765.26
1086664,2020-07-29 15:29:45,99395.0,12.975827,77.605644,28.979435,77.689580,15,29,29,7,2020,2,1.596037e+09,1.593085e+09,819.0,49196.0,1771.97
4377242,2021-01-09 14:10:14,99499.0,12.959066,77.656815,28.479555,77.079950,14,10,9,1,2021,5,1.610201e+09,1.610187e+09,3.0,238.0,1719.44
4377307,2021-01-09 14:57:02,99499.0,12.959036,77.656770,28.479555,77.079950,14,57,9,1,2021,5,1.610204e+09,1.610201e+09,0.0,46.0,1719.45
723201,2020-06-20 15:09:58,99817.0,12.973216,77.717860,27.299267,75.956764,15,9,20,6,2020,5,1.592666e+09,1.589621e+09,845.0,50741.0,1596.61

In [163]:
df = df[~df.index.isin(suspected_bad_rides.index)].reset_index(drop = True)

In [164]:
print("Number of Good Ride Requests: {}".format(len(df)))

Number of Good Ride Requests: 3708333

In [165]:
df

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,hour,mins,day,month,year,dayofweek,booking_timestamp,shift_time,hr_diff,min_diff,geodesic_distance
0,2020-10-10 07:34:16,-1.0,12.975773,77.571070,12.878468,77.445330,7,34,10,10,2020,5,1.602315e+09,0.000000e+00,445087.0,26705254.0,17.38
1,2020-10-11 08:23:42,-1.0,12.930813,77.609530,12.960320,77.587210,8,23,11,10,2020,6,1.602405e+09,1.602315e+09,24.0,1489.0,4.06
2,2020-10-11 11:57:17,-1.0,12.960213,77.587460,12.930824,77.609610,11,57,11,10,2020,6,1.602417e+09,1.602405e+09,3.0,213.0,4.04
3,2020-10-16 17:51:07,-1.0,12.924353,77.549410,12.932216,77.581825,17,51,16,10,2020,4,1.602871e+09,1.602417e+09,125.0,7553.0,3.62
4,2020-10-30 09:00:44,-1.0,12.945731,77.622500,12.973030,77.616840,9,0,30,10,2020,4,1.604048e+09,1.602871e+09,327.0,19629.0,3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3708328,2021-02-12 19:37:11,99999.0,13.029848,77.593400,13.063751,77.589850,19,37,12,2,2021,4,1.613159e+09,1.613069e+09,24.0,1498.0,3.77
3708329,2021-02-19 20:43:25,99999.0,13.029296,77.592580,12.927923,77.627106,20,43,19,2,2021,4,1.613767e+09,1.613159e+09,169.0,10146.0,11.82
3708330,2021-02-20 17:34:45,99999.0,12.907576,77.600685,12.925874,77.607620,17,34,20,2,2021,5,1.613842e+09,1.613767e+09,20.0,1251.0,2.16
3708331,2021-02-27 08:26:23,99999.0,12.956665,77.521870,12.948099,77.562990,8,26,27,2,2021,5,1.614414e+09,1.613842e+09,158.0,9531.0,4.56
3708332,2021-03-04 19:13:13,99999.0,12.987954,77.555880,13.065613,77.559910,19,13,4,3,2021,3,1.614885e+09,1.614414e+09,130.0,7846.0,8.60

In [166]:
dataset = df[['ts', 'number', 'pick_lat','pick_lng','drop_lat','drop_lng','geodesic_distance','hour','mins','day','month','year','dayofweek','booking_timestamp','hr_diff', 'min_diff']]

In [167]:
dataset.head()

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,geodesic_distance,hour,mins,day,month,year,dayofweek,booking_timestamp,hr_diff,min_diff
0,2020-10-10 07:34:16,-1.0,12.975773,77.57107,12.878468,77.445330,17.38,7,34,10,10,2020,5,1.602315e+09,445087.0,26705254.0
1,2020-10-11 08:23:42,-1.0,12.930813,77.60953,12.960320,77.587210,4.06,8,23,11,10,2020,6,1.602405e+09,24.0,1489.0
2,2020-10-11 11:57:17,-1.0,12.960213,77.58746,12.930824,77.609610,4.04,11,57,11,10,2020,6,1.602417e+09,3.0,213.0
3,2020-10-16 17:51:07,-1.0,12.924353,77.54941,12.932216,77.581825,3.62,17,51,16,10,2020,4,1.602871e+09,125.0,7553.0
4,2020-10-30 09:00:44,-1.0,12.945731,77.62250,12.973030,77.616840,3.08,9,0,30,10,2020,4,1.604048e+09,327.0,19629.0

In [168]:
dataset.to_csv('Preprocessed_Data_final.csv')